.trusted-moving-company{
    background-color: black;
    width: 100%;
    color: white;
    padding: 5px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    text-align: center;
    margin: 0 auto;
   

}
.fa-solid.fa-circle-check{
    color:orange;

}
.nav-bar{
    display:flex;
    width:80%;
    margin:20px auto;
}
.logo-email{
    padding:0px ;
        display: flex;
        align-items: center;
        gap: 10px;
}
body{
font-family:sans-serif ;
    font-size:30px;
    width:100%;
}
.fa-solid.fa-envelope-open-text{
    color:blue;
}
.logo-phonenumber{

    padding-left: 900px;;
   
    
}
.fa-solid.fa-phone-volume{
    color:blue;
   
   

}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    padding: 20px 0;
    gap: 5%;
    font-size: 20px;
}

.highlighted-p{
    text-decoration: underline;
    color:orange;
    margin-top: -70px;


}
/* #phone{
    float:right; */



nav a {
    text-decoration: none;
    color: black;
    font-weight: 400;
}
.logos{
    display: flex;
    align-items: center;
    gap: 30px;
    padding:200px 300px ;
    margin-bottom:50px;    
}
.riaad-moving-text-paragraph{
    padding-top: 50px;
}

.image-container{
    position: absolute;
    max-width:600px ;
    width: 900px;
    height: 900px;
    float: left;
    background-image: url(images/movee.jpeg);
    
}
.centered-text{

    position: absolute;
    top: 70%;
    left: 30%;
    transform: translate(-50%, -50%);
    color:black;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    background-image: url(images/movee.jpeg);
    background-repeat:no-repeat ;
    width: 1200px;
    height: 500px;
    background-size:cover;
    padding-bottom: -300px;
    padding-top: 10px;
   

    

}
.centered-text h1{
    font-size: 50px;
}
.centered-text button{
    padding: 10px 20px;
    font-size: 20px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#get-started ,#home{
    background: orange;
}
.moving-service{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    padding: 50px 10px;
    gap: 50px;
    padding-right:-300px;


}
.right-content{
    width: 1000%;
    height: 300px;
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin-bottom: 20px;
    gap:300px;
  }
.right-content .left-img{
    width: 35%;
    height: 400px;
    padding:500px 0px 0px 500px ;
}
.left-content .right-img{
    width: 25%;
    height: 400px;
    float:left;
    padding-left:900px;
    margin-top: 150px;
}

    
.moving-services-img .right-content a{
 margin-top: 10px;
 background-color: orange;
color: rgb(197, 31, 31);
padding: 40px 50px;
text-decoration: none;
border-radius: 5px; }
.what-we-do{
     display: flex;
    max-width: 900px;
    padding:50px 100px ; 
    gap:200px;
    
}
.parking{
    width: 100%;
    height: 50px;
    max-width: 700px;
   }
   h1{
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    margin-top: -50px;}

.service{
    padding:50px 50px;
}
.leading-business-img{
    width: 100%;
    max-width: 700px;
    margin-bottom: 20px;
    padding: 50px 100px;
    gap: 50px;
    margin-bottom: -500px;

}
#leading-img{
    height: 600px;
    width: 500px;
    margin-top: 30px;
    margin-bottom: -30px;
}
#storage{
    background-color: blue;
    margin-top: -20px;
    border:1px solid black;

}
.helping-step-img{
    background-image: url(images/step.jpeg);
    margin-bottom: 150px;
    background-repeat: no-repeat;
    margin-top:300px;
    background-position:left;
    width:100%;
    
   
}
.helping-step{
    display: flex;
    justify-content: space-between;
    max-width: 700px;
    padding: 50px 100px;
    gap: 50px;
}
.leading-bussiness-img{
    right:0;
    gap:50px;
}
.leading-bussiness-paragragh{
    justify-content: space-between;
    max-width: 500px;
    padding: 50px 100px;
    gap: 50px;
}
#p{
    padding:10px 100px 10px 600px;
}
.icons, #p{
    display: block;
    justify-content: space-between;
    max-width: 900px;
    padding: 5px 700px 50px;
    gap: 100px;

}
.fa-solid.fa-circle-check{
    font-size: 20px;
    
}

.quote{
    display: flex;
    justify-content:center;
    max-width: 1200px;
    padding: 200px 60px;
    gap: 50px;
    background-image: url(images/moving.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center ;
    color: white;
    height: 500px; 
    background-color: orange;
    align-content: center;
    width: 100%;


}
.quote h1{
    font-size: 50px;
    font-weight: bold;
    margin-top: 450px;
    margin-bottom: 50px;
    padding:0px;

}
.quote button{
    padding: 10px 20px;
    font-size: 20px;
    background-color: orange;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    height:60px;
    width: 200px;
    margin-top: -90px;
}
.quote button:hover{
    background-color: black;
}
.quote button:active{
    background-color: black;
}
.quote button:focus{
    background-color: black;
}
.qoute-form{
    display: flex;
    justify-content: center;
    max-width: 500px;
    padding: 50px 100px;
    gap: 50px;
    background-color:blue;
    margin-bottom:-10px

}
.form-group{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.form-group input{
    padding: 20px;
    border: none;
    
}
.form-group textarea{
    padding: 20px;
    border: none;
}
.form-group button{
    padding: 10px 10px;
    font-size: 20px;
    background-color: orange;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
fieldset{
    border: none;
    display: flex;
    gap: 20px;
}

.fieldsetinput{
    padding: 20px;
    border: none;

}
.submit-btn{
    padding: 10px 10px;
    font-size: 20px;
    background-color: orange;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.what.they.say{
    justify-content: space-between;
    max-width: 500px;
    padding: 100px 100px;
    gap: 50px;
}
.testimonial{
    display: flex;
    justify-content: space-between;
    max-width: 500px;
    padding: 50px 100px;
    gap: 300px;
}
.testimonial,h1{
    font-size: 30px;
    text-align: center;
    margin-top: -50px;
}
.fa-solid.fa-quote-left{
    color: blue;
}
.newsletter{
     padding:50px 900px;
    display: flex;
}
.newsletter,h1,p{
    font-size: 20px;
    text-align: center;
   margin-top: 60px;
   padding-bottom:30px ;
 }
  .updates{
     display: flex;
    max-width: 500px;
    padding: 50px 750px;
    gap:50px;  
    text-align: center;

 }
 .updates p{
     text-align: center;
    padding-top: -2px; ;
    padding-right: 10px;
    padding-left: 10px;}

 .updates button{
    padding: 10px 20px;
    font-size: 20px;
    background-color: orange;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    height:70px;
    width: 200px;
    margin-top: -0px;


    }
.blog{
    display: flex;
    justify-content: space-between;
    max-width: 500px;
    padding: 50px 100px;
    gap: 50px;

}
.blog-img-entertainment{
    background-image: url(images/call\ centre.jpeg);
    background-repeat: no-repeat;
}
.blog-img-choose{
    background-image: url(images/couples\ choosing\ movers.jpeg);
    background-repeat: no-repeat;
}
.blog-img-boomer{
    background-image: url(images/Movee.jpeg);
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    max-width: 500px;
object-fit: cover;}
.newsletter h1{
    padding-right: -100px;
}



.blog-img{
    width: 1500px;
    height: 500px;
    display: flex;
    justify-content: space-between;
    max-width: 700px;
    margin-bottom: 20px;
    gap:200px;
   

  }
.movers-USA{
    background-color: orange;
    margin-top: -60px;
    color:white;
    height: 200px;
}
.movers-USA h1{
    font-size: 50px;
    font-weight: bold;
    margin-top: -50px;
}
.movers-USA button{
    padding: 10px 20px;
    font-size: 20px;
    background-color: rgb(18, 16, 11);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    height:60px;
    width: 200px;
    margin-top: -40px;
    float:right;
    

}
.footer-details{
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    padding: 50px 100px;
    gap: 50px;
    background-color:black;
    color: white;
    height: 200px;
    margin-top: 50px;
}
.fab.fa-twitter{
    color: orange;
}
.paragraph{
    align-items: start;
}
.social-media{
    display: flex;
    justify-content: space-between;
    max-width: 500px;
    padding: 50px 100px;
    gap: 50px;
}


a{
    display: block;
    gap: 20px;
    color: white;
    text-decoration: none;
}






   



         










